body {
    margin:0;
    padding:0;
    
    font-family:'PT Sans', sans-serif;
    font-size:1.3em;
    line-height:1.3em;
    color:#778899; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    padding:60px 2%;
    padding-bottom:0;
}

.main-container {
    flex:1;
    margin: 10px auto;
    min-width: 600px;
}

a {
    text-decoration: none; 
}

li {
    list-style: none;
}

p:first-letter {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    
    text-align: center;
    background-color: rgba(225,0,222,0.7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;  
}

p:first-line {
    font-weight: 700;
}

h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    
    color: #ffa4af;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(225,164,175,0.5);
}
h2 {
    margin: 15px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    
    text-align: center;
    background-color: rgba(225,0,222,0.7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(159,181,220,0.5);
} 

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.intro {
    height: 100vh;
    padding:0 30px;
}

.intro-logo {
    margin: auto;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro-text h2 {
    color:red;
}
.intro-text p {
    padding-top: 30px;
}

.intro-diplom {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin:auto;
}

.intro-diplom img {
    width:72px;
    height:72px;
}

.intro-button {
    display: flex;
    align-items: center;
    margin:20px auto;
}

.btn-welcome {
    display: block;
    padding:12px 17px;
    margin-right:20px;
    color: #ffffff;
    
    background-color: rgba(159,181,220,0.7);
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: 2px 3px 4px rgba(159,181,220,0.5);
}
.btn-welcome:hover {
    border: 1px solid #ffffff;
    background-color: rgba(225,225,225,0);
    box-shadow: none;
    
    color:rgba(159,181,220,0.5);
    background-color: #ffffff;
    border: 1px solid rgba(159,181,220,0.5);
    box-shadow: 5px 5px 7px rgba(159,181,220,0.5);
}
.btn-welcome:active {
    color: #ffffff;
    box-shadow: inset 2px 3px 4px rgba(159,181,220,0.5);
}

.intro-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;

    background-color: rgba(159,181,220,0.5);
    box-shadow: 5px 5px 7px rgba(159,181,220,0.5);
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.intro-phone:hover,
.intro-phone:focus {
    background-color: #ffffff;
    border: 1px solid rgba(159,181,220,0.5);
    box-shadow: 5px 5px 7px rgba(159,181,220,0.5);
}

.intro-phone:active {
    box-shadow: inset 5px 5px 7px rgba(159,181,220,0.5);
}

.intro-phone:hover path,
.intro-phone:focus path {
    fill: rgba(159,181,220,0.5);
}

/* Новое меню */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 9;
}

.list-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
}
.list-menu > li > a{
    display:block;
    padding:5px 15px;
    margin-left:5px;
}

.btn {
    display: block;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    
    background-color: rgba(159,181,220,0.7);
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: 2px 3px 4px rgba(159,181,220,0.5);
}
.btn:hover {
    border: 1px solid #ffffff;
    background-color: rgba(225,225,225,0);
    box-shadow: none;
    
    text-shadow: 0 0 10px #fff, 
                 0 0 20px #fff, 
                 0 0 30px #fff, 
                 0 0 40px #ff00de, 
                 0 0 70px #ff00de, 
                 0 0 80px #ff00de, 
                 0 0 100px #ff00de, 
                 0 0 150px #ff00de;
    color: #ffffff;
}
.btn:active {
    color: #ffffff;
    box-shadow: inset 2px 3px 4px rgba(159,181,220,0.5);
}

#btn-menu{
  display: none;
}
#btn-menu + label{
  display: none; 
  position: relative;
  color: #000000; 
  height: 20px;
  z-index: 1;
  cursor: pointer;
}
#btn-menu + label:before{
  content: '\f0c9';  
  display: inline-block;
  font-family:'FontAwesome';
  font-size: 22px;
}
#btn-menu:checked + label:before{
  content: '\f00d';
  color: #f00;
}

@media screen and (max-width: 400px) {
 
   #btn-menu + label{
      display: inline-block;
   }
  #btn-menu + label + .list-menu{
    display: none;
  }
  #btn-menu:checked + label + .list-menu{
    display: block;
  }
}

/* Конец нового меню */

.lashes {
    align-items:center;
}

.lashes-logo {
    position: relative;
    width: 570px;
    height: 400px;
    margin: auto;
    background-color: #ffffff;
    overflow: hidden;
    background-image: url(../img/lashes-1.jpg);
    background-repeat: no-repeat;
    background-position: 30% 0%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 5px rgba(225,0,222,0.2);
}

.lashes-logo .lashes-button {
    display: none;
    width: 570px;
    height: 400px;
    text-align: center;
    padding: 30%;
    background-color: rgba(75, 90, 120, 0.5);
}

.lashes-logo:hover .lashes-button {
    display: block;
}

.lashes-btn {
    padding:5px 7px;
    
    color:#ffffff;
    background-color: rgba(159,181,220,0.7);
    box-shadow: 2px 3px 4px rgba(159,181,220,0.5);
    border: 1px solid #ffffff;
    border-radius: 20px;
}
.lashes-btn:hover {
    border:none;
    text-shadow: 0 0 10px #fff, 
                 0 0 20px #fff, 
                 0 0 30px #fff, 
                 0 0 40px #ff00de, 
                 0 0 70px #ff00de, 
                 0 0 80px #ff00de, 
                 0 0 100px #ff00de, 
                 0 0 150px #ff00de;
    color: #ffffff;
}
.lashes-btn:active {
    color: #ffffff;
    box-shadow: inset 2px 3px 4px rgba(159,181,220,0.5);
}

.lashes-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.lashes-text p {
    text-align: left;
    padding: 0 30px;
}

.brows {
    flex-direction:row-reverse;
    align-items:center;
}

.brows-logo {
    position: relative;
    width: 570px;
    height: 400px;
    margin: 0 auto;
    border-radius:20px;
    box-shadow: 0px 0px 25px 5px rgba(225,0,222,0.2);
}

.brows-logo input[type=radio] {
    display: none;
}

.brows-inner {
    overflow: hidden;
    border-radius:20px;
}

.brows-slides {
    width: 700%;
    transition: transform 0.8s ease;
}

.brows-slides img {
    float: left;
    width: 570px;
    height: 400px;
}

.brows-text {
    display: flex;
    flex-direction: column;
}
.brows-text p {
    text-align: left;
    text-indent: 20px;
    padding: 0 30px;
}

.brows-controls {
    text-align: center;
}

.brows-controls label {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 13px;
    background-color: rgba(159,181,220,0.7);
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s;
    cursor: pointer;
}

#btn-29:checked ~ .brows-controls label[for="btn-29"],
#btn-30:checked ~ .brows-controls label[for="btn-30"],
#btn-31:checked ~ .brows-controls label[for="btn-31"],
#btn-32:checked ~ .brows-controls label[for="btn-32"],
#btn-33:checked ~ .brows-controls label[for="btn-33"],
#btn-34:checked ~ .brows-controls label[for="btn-34"],
#btn-35:checked ~ .brows-controls label[for="btn-35"] {
    background-color: rgba(225,0,222,0.7);
}

#btn-29:checked ~ .brows-inner .brows-slides {
    transform: translate(0);
}

#btn-30:checked ~ .brows-inner .brows-slides {
    transform: translate(-570px);
}

#btn-31:checked ~ .brows-inner .brows-slides {
    transform: translate(-1140px);
}

#btn-32:checked ~ .brows-inner .brows-slides {
    transform: translate(-1710px);
}

#btn-33:checked ~ .brows-inner .brows-slides {
    transform: translate(-2280px);
}

#btn-34:checked ~ .brows-inner .brows-slides {
    transform: translate(-2850px);
}

#btn-35:checked ~ .brows-inner .brows-slides {
    transform: translate(-3420px);
}

.gifts {
    align-items:center;
    background: linear-gradient(180deg, #ffffff, #ffbec5);
    padding-bottom:10px;
}

.gifts-logo {
    position: relative;
    width: 570px;
    height: 400px;
    margin:auto;
    
    background-color: rgba(255,164,175,0.3);
    
    border-radius: 20px;
    box-shadow: 0px 0px 25px 5px rgba(255,164,175,0.5);
}

.icon {
    position: absolute;
    left: 0;
    top: 0;
    
    border-radius: 20px;
}

.hidden {
    position: absolute;
    opacity: 0;
}

.hidden img {
    width: 570px;
    height: 400px;
    
    border-radius: 20px;
}

.gifts-logo .icon {
    width: 570px;
    height: 400px;
    transition: all 0.2s ease-in-out;
}

.gifts-logo .hidden {
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0);
}

.gifts-logo .hidden img {
    width: 570px;
    height: 400px;
}

.gifts-logo:hover .hidden {
    opacity: 1;
    transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out 0.1s;
    transform: scale(1);
}

.gifts-logo:hover .icon {
    opacity: 0;
}

.gifts-text {    
    padding:0 30px;
}

.price-text {
    
}

.price-table {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
    border-collapse: collapse;
}

.price-table th {
    height: 30px;
    border-bottom: 1px dashed #778899;
}

.price-table th:nth-child(even) {
    text-align: right;
}

.questions-text {
    display: flex;
    flex-direction: column;
    
    padding:0 30px;
}

.questions-text h3 {
    align-self: flex-start;
    padding: 7px;
    margin-right: 10%;
    
    text-align:left;
    
    background-color: rgba(159,181,220,0.7);
    box-shadow: -2px 3px 2px rgba(159,181,220,0.3);
    border-radius: 10px 10px 10px 0;
    border: 1px solid #ffffff;
}

.questions-text p {
    align-self:flex-end;
    padding:7px;
    margin-left:10%;
    margin-top:10px;
    margin-bottom:10px;
    
    color:#ffffff;
    text-align:left;
    text-indent:20px;
    
    background-color: #4aac29;
    box-shadow: 2px 3px 2px rgba(74,172,41,0.3);
    border-radius: 10px 10px 0 10px;
    border: 1px solid #ffffff;
}

.questions-text p:first-letter {
    color:#ffffff;
}

.contacts {
    flex-direction:row-reverse;
    align-items:center;
    flex-wrap:wrap-reverse;
}

.contacts-text {
    display:flex;
    flex:1;
    flex-direction:column;
    padding:20px;
    text-align:center;
}

.contacts-table {
    margin: 20px auto;
    text-align: left;
    border-collapse: collapse;
}

.contacts-table th {
    height: 40px;
    border-bottom: 1px dashed #778899;
}

.station {
    padding-right: 30px; 
}

.contacts-social {
    width: 200px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.contacts-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 180px;
    margin: 0 auto;
    padding: 0;
  
    list-style: none;
}

.contacts-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;

    background-color: #4aac29;
    border: 1px solid #4aac29;
    border-radius: 50%;
}

.contacts-button:hover,
.contacts-button:focus {
    background-color: #ffffff;
    border: 1px solid #4aac29;
    box-shadow: 5px 5px 7px rgba(74,172,41,0.3);
}

.contacts-button:active {
    box-shadow: inset 5px 5px 7px rgba(74,172,41,0.3);
}

.contacts-button:hover path,
.contacts-button:focus path {
    fill: #4aac29;
}

.contacts-map {
    width: 570px;
    height: 400px;
    margin:auto;
    
    border-radius: 20px;
    box-shadow: 0px 0px 25px 5px rgba(74,172,41,0.3);
}

.contacts-map iframe {
    border-radius: 20px;
}
.slider {
    position: relative;
    width: 450px;
    margin: 0 auto;
    background-color: white;
}

.slider input[type=radio] {
    display: none;
}

.slider-inner {
    overflow: hidden;
    border-radius:20px;
}

.slider-slides {
    width: 700%;
    transition: transform 0.8s ease;
}

.slider-slides img {
    float: left;
    width: 450px;
    height: 320px;
}

.slider-inner-2 {
    overflow: hidden;
    border-radius:20px;
}

.slider-slides-2 {
    width: 700%;
    transition: transform 0.8s ease;
}

.slider-slides-2 img {
    float: left;
    width: 450px;
    height: 320px;
}

.slider-inner-3 {
    overflow: hidden;
    border-radius:20px;
}

.slider-slides-3 {
    width: 700%;
    transition: transform 0.8s ease;
}

.slider-slides-3 img {
    float: left;
    width: 450px;
    height: 320px;
}

.slider-inner-4 {
    overflow: hidden;
    border-radius:20px;
}

.slider-slides-4 {
    width: 700%;
    transition: transform 0.8s ease;
}

.slider-slides-4 img {
    float: left;
    width: 450px;
    height: 320px;
}

.slider-controls {
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px 13px;
    background-color: #cccccc;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"],
#btn-5:checked ~ .slider-controls label[for="btn-5"],
#btn-6:checked ~ .slider-controls label[for="btn-6"],
#btn-7:checked ~ .slider-controls label[for="btn-7"],
#btn-8:checked ~ .slider-controls label[for="btn-8"],
#btn-9:checked ~ .slider-controls label[for="btn-9"],
#btn-10:checked ~ .slider-controls label[for="btn-10"],
#btn-11:checked ~ .slider-controls label[for="btn-11"],
#btn-12:checked ~ .slider-controls label[for="btn-12"],
#btn-13:checked ~ .slider-controls label[for="btn-13"],
#btn-14:checked ~ .slider-controls label[for="btn-14"],
#btn-15:checked ~ .slider-controls label[for="btn-15"],
#btn-16:checked ~ .slider-controls label[for="btn-16"],
#btn-17:checked ~ .slider-controls label[for="btn-17"],
#btn-18:checked ~ .slider-controls label[for="btn-18"],
#btn-19:checked ~ .slider-controls label[for="btn-19"],
#btn-20:checked ~ .slider-controls label[for="btn-20"],
#btn-21:checked ~ .slider-controls label[for="btn-21"],
#btn-22:checked ~ .slider-controls label[for="btn-22"],
#btn-23:checked ~ .slider-controls label[for="btn-23"],
#btn-24:checked ~ .slider-controls label[for="btn-24"],
#btn-25:checked ~ .slider-controls label[for="btn-25"],
#btn-26:checked ~ .slider-controls label[for="btn-26"],
#btn-27:checked ~ .slider-controls label[for="btn-27"],
#btn-28:checked ~ .slider-controls label[for="btn-28"] {
    background-color: red;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-450px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-900px);
}

#btn-4:checked ~ .slider-inner .slider-slides {
    transform: translate(-1350px);
}

#btn-5:checked ~ .slider-inner .slider-slides {
    transform: translate(-1800px);
}

#btn-6:checked ~ .slider-inner .slider-slides {
    transform: translate(-2250px);
}

#btn-7:checked ~ .slider-inner .slider-slides {
    transform: translate(-2700px);
}

#btn-8:checked ~ .slider-inner-2 .slider-slides-2 {
    transform: translate(0);
}

#btn-9:checked ~ .slider-inner-2 .slider-slides-2 {
    transform: translate(-450px);
}

#btn-10:checked ~ .slider-inner-2 .slider-slides-2 {
    transform: translate(-900px);
}

#btn-11:checked ~ .slider-inner-2 .slider-slides-2 {
    transform: translate(-1350px);
}

#btn-12:checked ~ .slider-inner-2 .slider-slides-2 {
    transform: translate(-1800px);
}

#btn-13:checked ~ .slider-inner-2 .slider-slides-2 {
    transform: translate(-2250px);
}

#btn-14:checked ~ .slider-inner-2 .slider-slides-2 {
    transform: translate(-2700px);
}

#btn-15:checked ~ .slider-inner-3 .slider-slides-3 {
    transform: translate(0);
}

#btn-16:checked ~ .slider-inner-3 .slider-slides-3 {
    transform: translate(-450px);
}

#btn-17:checked ~ .slider-inner-3 .slider-slides-3 {
    transform: translate(-900px);
}

#btn-18:checked ~ .slider-inner-3 .slider-slides-3 {
    transform: translate(-1350px);
}

#btn-19:checked ~ .slider-inner-3 .slider-slides-3 {
    transform: translate(-1800px);
}

#btn-20:checked ~ .slider-inner-3 .slider-slides-3 {
    transform: translate(-2250px);
}

#btn-21:checked ~ .slider-inner-3 .slider-slides-3 {
    transform: translate(-2700px);
}

#btn-22:checked ~ .slider-inner-4 .slider-slides-4 {
    transform: translate(0);
}

#btn-23:checked ~ .slider-inner-4 .slider-slides-4 {
    transform: translate(-450px);
}

#btn-24:checked ~ .slider-inner-4 .slider-slides-4 {
    transform: translate(-900px);
}

#btn-25:checked ~ .slider-inner-4 .slider-slides-4 {
    transform: translate(-1350px);
}

#btn-26:checked ~ .slider-inner-4 .slider-slides-4 {
    transform: translate(-1800px);
}

#btn-27:checked ~ .slider-inner-4 .slider-slides-4 {
    transform: translate(-2250px);
}

#btn-28:checked ~ .slider-inner-4 .slider-slides-4 {
    transform: translate(-2700px);
}

.text-table {
    padding:0 50px;
}

.text-buttom {
    font-style:italic;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    font-size: 18px;
    line-height: 50px;
    text-decoration: none;
    
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

